/**
 * About Page styles
 */

h1
  font-weight normal

.authors
  display flex
  .author-card
    flex 1 auto
    margin 4px auto
    padding 4px
    height auto
    h3
      font-weight normal
    .author-links
      flex 1 auto
      padding 4px 8px
      .github-logo,
      .website-logo
        width 64px
        height 64px