/**
 * About Page styles
 */

.authors
  display flex
  .author-card
    flex 1 auto
    h3
      font-weight normal
    .author-links
      flex 1 auto
      padding 4px
      .github-logo
        width 64px
        height 64px