/**
 * About Page styles
 */

h1, h3
  font-weight normal

.authors
  display flex

  .author-card
    flex 1 auto
    margin auto
    padding 4px
    height auto

    .author-links
      flex 1 auto
      display inline-block
      margin 12px auto
      padding 4px 12px

      .github-logo,
      .website-logo
        width 64px
        height 64px
        &:hover
          opacity 0.8
