@import "../../style/variables.styl"

.toolsList
  list-style none
  margin 0
  padding 0

.tool
  display flex
  align-items flex-start
  margin-bottom 1.25rem

  .toolImage
    flex 0 0 200px;
    padding-right: 1rem
    
    img 
      width 200px
      height 150px
      object-fit cover

.toolImage
  width 100%

.toolTitle
  font-weight bold
  font-size 1.25rem
  margin-top 0

.toolDescription
  // Remove margin around the contents of the description
  & > *:first-child
    margin-top 0
  & > *:last-child
    margin-bottom 0

.toolTitle, .toolDescription
  margin-bottom 0.5rem

.toolDescription, .toolLink
  font-size 1.1rem

.toolLink
  color #1A1A1A
  text-decoration underline
  text-decoration-color #1A1A1A
  &:hover
    color #2a2a2a
    text-decoration-color #2a2a2a
  &:visited
    color #3a3a3a
    text-decoration-color #3a3a3a