@import "../style/variables.styl"

.gamesList
  list-style none
  margin 0
  padding 0
  display flex
  justify-content: space-between;

.game
  flex 0 0 48%

.gameImage
  width 100%
  object-fit cover

.gameTitle
  font-family header-font-stack
  font-size 1rem
  text-align center
  color #1A1A1A
  text-decoration underline
  text-decoration-color #1A1A1A
  &:hover
    color #2a2a2a
    text-decoration-color #2a2a2a