@import "./variables.styl"
@import "./reset.styl"

@font-face {
  font-family: "Market Deco";
  src: url("../fonts/market_deco-webfont.woff2") format("woff2"),
    url("../fonts/market_deco-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html 
  font-size: 14px;

  @media (min-width: 700px)
    font-size: 18px

body {
  font-family: body-font-stack;
  font-size: 1rem;
  padding-bottom 2rem
}

h1, h2, h3, h4, h5, h6 {
  font-family: header-font-stack;
}
