@import "../../style/variables.styl"

.unstyle-link
  &, &:visited, &:hover, &:active
    color: inherit;
    background-color: transparent;
    text-decoration: none;

.nav
  font-family header-font-stack
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items flex-end
  padding 1.25rem 0
  width 100%
  max-width 800px
  margin 0 auto 1.75rem auto

.logo
  font-size 2.25rem
  letter-spacing -0.15rem
  flex 0 0 100%
  a
    @extend .unstyle-link

  @media (min-width: 500px)
    flex: auto

.link
  @extend .unstyle-link
  font-size 1.25rem
  padding 0 0.75rem

  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

.activeLink
  text-decoration underline
  &:hover
    text-decoration underline